<section class="p-8">
	<ul class="flex justify-end gap-8 lg:gap-16 mr-4 lg:mr-12 text-base lg:text-xl text-neutral-500">
		<li class="hover:text-neutral-900"><a href="#" class="cursor-pointer">about</a></li>
		<li class="hover:text-neutral-900"><a href="#" class="cursor-pointer">contact</a></li>
	</ul>
</section>
