---
const { text } = Astro.props;
const { address } = Astro.props;
import arrow3 from "../assets/SVG/arrow3.svg";
import { Image } from "astro:assets";
---

<div>
	<button class="bg-accent3 flex gap-8 px-12 py-4 rounded-xl shadow">
		<Image src={arrow3} width="100" alt="An arrow pointing to the button from the left" class="arrow-in-button-left" />
		<a href={address} target="_blank" rel="noopener noreferrer" class="text-neutral-100">{text}</a>
		<Image src={arrow3} width="100" alt="An arrow pointing to the button from the right" class="arrow-in-button-right" />
	</button>
</div>

<style>
	.arrow-in-button-right {
		height: 50px;
		position: absolute;
		top: 5px;
		right: -70px;
		opacity: 0;
		transition: 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
		pointer-events: none;
	}
	button:hover .arrow-in-button-right {
		opacity: 1;
		right: -35px;
	}
	.arrow-in-button-left {
		height: 50px;
		position: absolute;
		top: 5px;
		left: -70px;
		opacity: 0;
		transform: rotate(180deg);
		transition: 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
		pointer-events: none;
	}
	button:hover .arrow-in-button-left {
		opacity: 1;
		left: -35px;
	}

	button {
		position: relative;
	}
	button:hover {
		box-shadow: none;
		background-color: #fe4421;
	}

	button:hover a {
		color: #030008;
	}

	a {
		font-size: 1.3rem;
	}

	@media (max-width: 1024px) {
		a {
			font-size: 1.1rem;
		}

		.arrow-in-button-left {
			height: 40px;
			top: 6px;
		}
		button:hover .arrow-in-button-left {
			opacity: 1;
			left: -40px;
		}
		.arrow-in-button-right {
			height: 40px;
			top: 6px;
		}
		button:hover .arrow-in-button-right {
			opacity: 1;
			right: -40px;
		}
		button {
			padding: 0.9rem 2.5rem;
		}
	}
</style>
